@import "styles/variables";

.grid {
  display: flex;
  column-gap: 20px;
}

.tracking {
  margin-bottom: 60px;
  border: 1px solid $grey-secondary-color;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.trackingInfo {
  border-bottom: 1px solid $grey-secondary-color;
  padding: 20px 80px;
  display: flex;
  justify-content: space-between;
  span {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    color: $grey-main-color;
    font-size: 14px;
    font-weight: 500;
    strong {
      font-size: 18px;
      font-weight: 700;
      color: $primary-color;
    }
  }
}
