// Colors
$primary-color: #000;
$secondary-color: #fc0000;
$grey-main-color: #a8a8a8;
$grey-secondary-color: #ccc;

// Typography
$base-font-family: "Cairo", sans-serif;

// Breakpoints
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
